# Flask Web Framework
Flask>=2.0

# Selenium for browser automation
selenium>=4.0

# Automatically manages browser drivers (ChromeDriver)
webdriver-manager

# Reading .xlsx files
pandas
openpyxl

# Validating email addresses
email-validator>=2.0.0

# Identifying file types (MIME)
python-magic

# Reading .env files (useful for local development)
python-dotenv

# Production WSGI Server (choose one or both if needed)
gunicorn # Recommended for Linux
# waitress # Alternative, pure Python
